/* add your CSS here */
img{
    width: 300px;
}

#interesting-fact{
    font-style: italic;
}

ul li span{
    font-weight: bold;
}

ul li{
    list-style-type: none;
}


#container, img, .animal-info
{
    border: 2px solid gray;
    padding: 5px;
}

